.app {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  width: 100%;
  height: 10%;

  display: flex;
  flex-flow: row;

  justify-content: center;
  align-items: center;

  button {
    height: 4vh;
    width: 4vw;
  } 
}

.app-body {
  display: flex;
  flex: 1;
  width: 100%;
}

.item-search-box {
  width: 35vw;
  height: 4vh;

  display: flex;
  flex-flow: row;
  
  border: 1px solid rgba(0, 0, 0, 0.171);

  input {
    flex: 1;
    border: none;

    padding: 5px;
    font-size: 20px;
  }

  button {
    width: 10%;
    border: none;
  }
}

.item-container {
  flex: 1;
  padding: 3em;
  margin: 0;

  border-top: 1px solid rgba(0, 0, 0, 0.295);
  // display: grid;
  // grid-gap: 1em;
  // grid-template-columns: repeat(autofit, minmax(250px, 1fr));

  display: flex;
  flex-flow: column;
  overflow: auto;

  .card {
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
      color: rgb(0, 0, 0);
      font-size: 10px;
      
      margin: 0.2em;
      padding: 1em;
      border-radius: .3em;
      
      display: flex;
      flex-flow: column;

      user-select: none;

      h4 {
        margin: 0;
      }
  }
 
  .card:hover {
    transform: scale(1.05);
  }
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}